*{
    box-sizing: border-box;
    
  }
  
  button, input, label, form{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
  }
  
 body{
    display: flex;
    align-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: 'Bodoni Moda', serif;
    color: #ee5c5d;
  }


  @font-face {
    font-family: 'Brand';
    src: url(/References/Fonts/Brand.woff) format('woff');
  }

  @font-face {
    font-family: 'Ahganirya';
    src: url('Ahganirya-PersonalUse.woff2') format('woff2'),
        url('Ahganirya-PersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


 #brandName{
    padding-top: 4rem;
    font-size: 3.5rem;
    font-family: Brand, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    background-color: white;
    opacity: 0.7;
 }

 #laptopGuy{
    width: clamp(350px, 60%, 650px);
    
 }  

 #left{
    background-color: #e9f1bb;
 }

 #right{
    background-color: #fff7dc;
    width: 70%;
}

 #imgDiv{
    display: flex;
    justify-content: center;
}

 #signUp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    text-align: left;

}
  
 form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid #778899;
    border-radius: 6px;
    padding: 6em 4em;
    /* min-width: clamp(5vw, 100%, 25vw);change? */
    background-color: #fab5bd;
    opacity: 0.7;
    color: black;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
  }
  

 form > div {
    display: flex;
    gap: 3rem;
 }

input{
    border-radius: 0.3em;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 2rem;
    width: 4 rem;
    margin-bottom: 10px;
  }
  
  input:hover, input:focus {
    background-color: rgb(240, 240, 240);
  }
  
  input:focus{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  input:focus, input:active{
    outline: none;
    border: 2px solid #7B68EE;
  }
  
  input:invalid{
    outline: 1px solid red;
  }
  
  label{
    /* display: inline-block;
    width: 150px; */
    text-align: left;
    margin-bottom: 0.2rem;
  }
  
  #left p {
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.3em;
  }

.sectionBody{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 50%;
  }
  

.inputSection{
    width: max(8rem, 320px)
    
}

.inputSection div{
    display: flex;
    flex-direction: column;
    align-content: center; 
    
}
  
h1{
   font-size: 2.5em;
   color: #fbaab4;
   
  }

 #paragraph, .sectionBody > div, .sectionBody > p{
    margin-left: 2em;
 }
  
 section{
    gap: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  form section{
    display: flex;
    align-content: center;
  }
  
  form section:nth-child(2){
    gap: 0px;
  }
  
  button {
    margin-top: 2rem;
    width: 9rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    box-shadow: 5px;
    background-color: #fbaab4;
    
  }
  
  button:hover{
    opacity: 1;
    background-color: #B0C4DE;
    border: 1px #99ccff solid;
  }
  
  button:active{
    background-color: #e9f1bb;
    border: 1px #000000 solid;
  }